<div class="card">
    <h3 class="card-header">Login</h3>
    <form id="login-form" class="card-body">
        <label for="username-login" class="form-label">Username</label>
        <input id="username-login" type="text" class="form-input" autofocus="true" />

        <label for="password-login" class="form-label">Password</label>
        <input id="password-login" type="password" class="form-input" autofocus="true" />

        <button class="login-link" type="submit">Login!</button>
        <a href="/signup" class="login-link">Sign up instead</a>
    </form>
</div>

<script src="/javascript/login.js"></script>